# Certificate contract ID on Stellar Testnet
CONTRACT_ID=CC224HOAT5CHJ7SBHTRR7IGAZ5DTAKCU6WPOSMC5ZJ6I3Y4JR47SRB3K

# Administrative signer secret key (for issuing/revoking certificates)
ADMIN_SECRET=SA2QZRJEUXGGSUUMSMK5ABG4BQOWCZUSINPGQNZNLAYRTFEKX4LNW5O3

# Platform account secret key (receives certificate payments / sponsors gasless transactions)
PLATFORM_SECRET=SAVSXBFEYQC4WIGF6IAOXLD7PFKDMGJR45VQMCU65MCUQQ5QEK2RQ67A

# Server Port
PORT=3000

# Network passphrase/target
NETWORK=testnet
